.footer
    block content4
    script.
        dat= new Date();
        j = dat.getDate();
        m = dat.getMonth();        
        if(j<10) j = '0'+j;
        if(m<10) m = '0'+m;         
        document.write('<span id="Calk"></span>' + ' le ' + j + '/' + m + '/' + dat.getFullYear());

