body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color : blue;
  background-color:cyan;
  background-position: center;
  background-image:url("/images/image.gif");
  background-repeat: no-repeat;
}
footer {
	background-color: red;
}
a {
  color: blue;
}
p {
  color : red;
  }
