doctype html
html
    head
        include include/head.jade
    body(onload='Hour()')
        .header
            block content
        .PartieGauche
            block content1
        #Milieu
            block content2
        block content3
        include include/footer.jade
