<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="stylesheets/style1.css" />
        <title>Mytwr</title>
    </head>

    <body>
	<header>
	<p><img src="Logo.jpg" alt="Merde" class="Logo"/></p>
	<p><h1>Mytwr</h1></p>
	<p class="Connexion">Connexion</p>
	</header>
	<nav>
    <ul>
        <a href="Options.html">Options</a><br/>
        <a href="Follower.html">Follower</a><br/>
        <a href="Following.html">Following</a>
    </ul>
	</nav>
	
	
	<footer>
		Site fait par : Daniel
	</footer>
    </body>
</html>
