doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/miseEnPageDefaut.css')
    body
        .header
            p <img src="images/Logo.jpg" alt="Logo" class="Logo"/>
            h1 Mytwr
        p Bonjour sur Minitwr ! Voulez-vous vous inscrire où voulez-vous continuer en tant que visiteur ?
        
        a(href="/ficheInscription" class="buttonConnexion") Je m'inscris !
        </br>        
        a(href="/index" class="buttonConnexion") Je préfère être un visiteur !
        include include/footer.jade
